<div class="teachers" [ngSwitch]="language">
  <div class="teachers__wrapp" *ngSwitchCase="'Ukrainian'">
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/1.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Директор</div>
        <div class="teachers__cart_name"><strong>Мантулiна Лариса Степанiвна</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Директор<br><br>
            <strong>Мантулiна Лариса Степанiвна</strong><br><br>
            Корекційний педагог, спеціаліст АВА.
            Київський педагогічний університет iм. М.П.Драгоманова:
            Я- педагог по суті, за формою, за покликанням. Багаторічний педагогічний досвід,
            пошук найефективніших методик викладання був необхідний,
            щоб сьогодні це могло допомогти дітям, для яких навчання - колосальна праця.
            Ми працюємо разом: учні та вчителі, батьки та спеціалісти. Ми живемо не календарними роками, а навчальними,
            без канікул і свят, щоб не розгубити те цінне, що створюється щоденною кропіткою працею.
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/2.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Заступник директора</div>
        <div class="teachers__cart_name"><strong>Махно Оксана</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Заступник директора<br><br>
            <strong>Махно Оксана</strong><br><br>
            логопед-дефектолог; вчитель навчальних класів школах з тяжким порушенням мови.
            Донецький інститут ринку та соціальної політики &quot;Соціальна психологія &quot; Національний педагогічний університет
            iм.М.П.Драгоманова Я працюю з дітьми з труднощами і я обожнюю свою роботу! Я продовжую и буду продовжувати це казати!
            Бо що таке труднощі!? Я не знаю! Всі ми різні і по-різному сприймаємо цей світ!
            Я хочу зазирнути в їх дитячий світ і показати свій! Я хочу навчити дітей не боятися бути різними,
            я хочу навчити іх спілкуватися на будь-якій мові! Будь-то слова, чи мова жестів, чи малюнки!
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/3.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Спецiалicт з нейрокоррекцiї</div>
        <div class="teachers__cart_name"><strong>Мантулiн Андрiй</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Спецiалicт з нейрокоррекцiї<br><br>
            <strong>Мантулiн Андрiй</strong><br><br>
            Нацiональний педагогiчний унiверситет iм.М.П.Драгоманова : &quot;Для мене робота з особливими дiтьми це не тiльки праця.
            В першу чергу це - можливiсть направити свої знання та навички на благо тих , кому необхiдна наша допомога та пiдтримка.&quot;
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/4.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Психолог, дефектолог</div>
        <div class="teachers__cart_name"><strong>Боцула Ганна</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Психолог, дефектолог<br><br>
            <strong>Боцула Ганна</strong><br><br>
            Київський національний університет iм. Т.Г.Шевченко : Робота з особливими дітьми відкриває для мене дві головні можливості:
            кожен день повертатись у дитинство й безперервно вдосконалювати свої навички у суміжних напрямах.
            Всі діти різні, цікаві и безпосередні. Слідкувати за тим, як вони розвиваються, й допомоги їм в цьому — одне задоволення!
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/5.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Судоролог, дефектолог</div>
        <div class="teachers__cart_name"><strong>Валевич Олена</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Судоролог, дефектолог<br><br>
            <strong>Валевич Олена</strong><br><br>
            Донецький вiдкритий унiверситет : Мій педагогічний стаж - 23 роки.
            З них 16 років я працювала з дітьми з вадами слуху та 10 років це робота з дітьми з РАС і ЗРР.
            Робота з дітьми - це перші ЗВУКИ ... СЛОВА, перші ПЕРЕМОГИ!!!
            Робота з батьками - це можливість допомогти родині сприймати дитину такою, яка вона є !!
            ПОВІРИТИ В СЕБЕ !! У СВОЮ ДИТИНУ !! Навчитися жити в соціумі! Це можливість подарувати батькам ВІРУ,
            що їх дитина заговорить і буде розуміти мову!!
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/6.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Психолог, дефектолог</div>
        <div class="teachers__cart_name"><strong>Макоцьоба Оксана</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Психолог, дефектолог<br><br>
            <strong>Макоцьоба Оксана</strong><br><br>
            Київський педагогічний університет iм. М.П.Драгоманова: &quot;Для мене робота з особливими дітьми покликання.
            Кожен раз, коли ми з дітьми &quot;беремо&quot; якусь вершину, я відчуваю неймовірний драйв і заряд енергії.
            Відчуваю впевненість, що ми досягнемо ще більших висот. Кожна перемога мого учня-моя теж.&quot;
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/7.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Психолог, дефектолог</div>
        <div class="teachers__cart_name"><strong>Козловська Ганна</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Психолог, дефектолог<br><br>
            <strong>Козловська Ганна</strong><br><br>
            &quot;Людина народжується не для того, щоб безслідно зникнути нікому невідомої порошиною.
            Людина залишає себе, перш за все, в людині. В цьому вище щастя і сенс життя.&quot; В. О. Сухомлинський
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/8.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Психолог, дефектолог</div>
        <div class="teachers__cart_name"><strong>Ященко Юлія</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Психолог, дефектолог<br><br>
            <strong>Ященко Юлія</strong><br><br>
            Киїський нацiональний унiверситет iм.Т.Г.Шевченко : Робота с дітьми навчила мене простим, але дуже важливим речам:
            один маленький успіх може перерости у велику перемогу. А віра , терпіння спільна робота може творити дива.
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/9.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Психолог, дефектолог</div>
        <div class="teachers__cart_name"><strong>Коротоаєвська Лiдiя</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Психолог, дефектолог<br><br>
            <strong>Коротоаєвська Лiдiя</strong><br><br>
            Київський національний університет iм.Т.Г.Шевченко :
            Учитель - «вічний учень», який завжди знайде чого навчитися у своїх учнів.
            Тому саморозвиток, відповідальність і уміння радіти дрібницям - в цьому для мене полягає робота з дітьми.
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/10.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Спеціаліст музичної терапії</div>
        <div class="teachers__cart_name"><strong>Оргієнко Людмила</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Спеціаліст музичної терапії<br><br>
            <strong>Оргієнко Людмила</strong><br><br>
            «Музичне мистецтво» Національний педагогічний університет iм.М.П.Драгоманова Заняття муз-терапії,
            дозволяють зазирнути глибше й працювати з емоціями дитини. На рівні відчуття й сприйняття.
            Музика - особливий засіб, вона впливає не тільки на мозок, а й на почуття.
            Дуже великий спектр понять впливають на свідомість дитини, необхідних нашим дітям для соціальної адаптації,
            саме на заняттях музтерапії та логоритміки.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="teachers__wrapp" *ngSwitchCase="'Russian'">
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/1.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Директор</div>
        <div class="teachers__cart_name"><strong>Мантулина Лариса Степановна</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Директор<br><br>
            <strong>Мантулина Лариса Степановна</strong><br><br>
            Коррекционный педагог, специалист АВА.
            Киевский педагогический университет им.  М.П.Драгоманова:
            Я – педагог по существу, по форме, по призванию.  Многолетний педагогический опыт,
            поиск наиболее эффективных методик преподавания был необходим,
            чтобы сегодня это могло помочь детям, для которых обучение – колоссальный труд.
            Мы работаем вместе: учащиеся и учителя, родители и специалисты.
            Мы живем не календарными годами, а учебными, без каникул и праздников, чтобы не растерять то ценное,
            что создается каждодневным кропотливым трудом.
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/2.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Заместитель директора</div>
        <div class="teachers__cart_name"><strong>Махно Оксана</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Заместитель директора<br><br>
            <strong>Махно Оксана</strong><br><br>
            логопед-дефектолог;  учитель учебных классов в школах с тяжелым нарушением языка.
            Донецкий институт рынка и социальной политики "Социальная психология"
            Национальный педагогический университет им.М.П.Драгоманова
            Я работаю с детьми с трудом и я обожаю свою работу! Я продолжаю и буду продолжать это говорить!
            Ибо что такое трудности? Я не знаю!  Все мы разные и по-разному воспринимаем этот мир!
            Я хочу заглянуть в их детский мир и показать свое!
            Я хочу научить детей не бояться быть разными, я хочу научить их общаться на любом языке!
            Будь-то слова, язык жестов, или рисунки!
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/3.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Cпециалист по нейрокоррекции</div>
        <div class="teachers__cart_name"><strong>Мантулин Андрей</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Специалист по нейрокоррекции<br><br>
            <strong>Мантулин Андрей</strong><br><br>
            Национальный педагогический университет им.М.П.Драгоманова:
            "Для меня работа с особыми детьми это не только труд.
            В первую очередь это - возможность направить свои знания и навыки на благо тех,
            кому необходима наша помощь и поддержка."
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/4.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Психолог, дефектолог</div>
        <div class="teachers__cart_name"><strong>Боцула Анна</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Психолог, дефектолог<br><br>
            <strong>Боцула Анна</strong><br><br>
            Киевский Национальный университет им.  Т.Г.Шевченко:
            Работа с особыми детьми открывает мне две главные возможности:
            каждый день возвращаться в детство и непрерывно совершенствовать свои навыки в смежных направлениях.
            Все дети разные, интересные и непосредственные.  Следить за тем, как они развиваются,
            и помощь им в этом – одно удовольствие!
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/5.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Судоролог, дефектолог</div>
        <div class="teachers__cart_name"><strong>Валевич Елена</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Судоролог, дефектолог<br><br>
            <strong>Валевич Елена</strong><br><br>
            Донецкий открытый университет:
            Мой педагогический стаж – 23 года.
            Из них 16 лет я работала с детьми с недостатками слуха и 10 лет это работа с детьми из РАС и ЗРР.
            Работа с детьми – это первые ЗВУКИ… СЛОВА, первые ПОБЕДЫ!
            Работа с родителями - это возможность помочь семье воспринимать ребенка таким, какой он является!
            ПОВЕРИТЬ В СЕБЯ! В СВОЕГО РЕБЕНКА! Научиться жить в социуме!
            Это возможность подарить родителям ВЕРУ, что их ребенок заговорит и будет понимать язык!
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/6.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Психолог, дефектолог</div>
        <div class="teachers__cart_name"><strong>Макоцеба Оксана</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Психолог, дефектолог<br><br>
            <strong>Макоцеба Оксана</strong><br><br>
            Киевский педагогический университет им.  М.П.Драгоманова:
            "Для меня работа с особыми детьми призвания.
            Каждый раз, когда мы с детьми "берем" какую-то вершину, я чувствую невероятный драйв и заряд энергии.
            Чувствую уверенность, что мы достигнем еще больших высот. Каждая победа моего ученика-моя тоже."
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/7.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Психолог, дефектолог</div>
        <div class="teachers__cart_name"><strong>Козловская Анна</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Психолог, дефектолог<br><br>
            <strong>Козловская Анна</strong><br><br>
            "Человек рождается не для того, чтобы бесследно исчезнуть никому неизвестной пылью.
            Человек оставляет себя, прежде всего, в человеке. В этом выше счастье и смысл жизни."
            В. О. Сухомлинский
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/8.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Психолог, дефектолог</div>
        <div class="teachers__cart_name"><strong>Ященко Юлия</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Психолог, дефектолог<br><br>
            <strong>Ященко Юлия</strong><br><br>
            Киевский национальный университет им.Т.Г.Шевченко:
            Работа с детьми научила меня простым, но очень важным вещам: один маленький успех может перерасти в великую победу.
            А вера, терпение совместная работа может творить чудеса
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/9.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Психолог, дефектолог</div>
        <div class="teachers__cart_name"><strong>Коротаевская Лидия</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Психолог, дефектолог<br><br>
            <strong>Коротаевская Лидия</strong><br><br>
            Киевский национальный университет им.Т.Г.Шевченко:
            Учитель – «вечный ученик», который всегда найдет чему научиться у своих учеников.
            Поэтому саморазвитие, ответственность и умение радоваться мелочам – в этом для меня заключается работа с детьми.
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/10.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Специалист музыкальной терапии</div>
        <div class="teachers__cart_name"><strong>Людмила Оргиенко</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Специалист музыкальной терапии<br><br>
            <strong>Людмила Оргиенко</strong><br><br>
            «Музыкальное искусство» Национальный педагогический университет им.М.П.Драгоманова
            Занятия муз-терапии позволяют заглянуть глубже и работать с эмоциями ребенка.
            На уровне ощущения и восприятия.  Музыка – особое средство, она влияет не только на мозг, но и на чувства.
            Очень большой спектр понятий влияют на сознание ребенка, необходимые нашим детям для социальной адаптации,
            именно на занятиях музыкотерапии и логоритмики.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="teachers__wrapp" *ngSwitchCase="'English'">
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/1.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Director</div>
        <div class="teachers__cart_name"><strong>Mantulina Larysa Stepanovna</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Director<br><br>
            <strong>Mantulina Larisa Stepanovna</strong><br><br>
            Correctional teacher, ABA specialist.
            Kyiv Pedagogical University. M.P. Dragomanova:
            I am a teacher in essence, in form, by vocation. Many years of pedagogical experience,
            the search for the most effective teaching methods was necessary so that today it could help children
            for whom education is a colossal work. We work together: students and teachers, parents and professionals.
            We live not in calendar years, but in academic years, without vacations and holidays,
            so as not to lose the valuable that is created by everyday painstaking work.
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/2.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Deputy Director</div>
        <div class="teachers__cart_name"><strong>Makhno Oksana</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Deputy Director<br><br>
            <strong>Makhno Oksana</strong><br><br>
            speech pathologist-defectologist; teacher of classrooms in schools with severe language impairment.
            Donetsk Institute of Market and Social Policy "Social Psychology"
            National Pedagogical University named after M.P. Drahomanov
            I work with children with difficulty and I love my job! I continue and will continue to say this!
            For what are difficulties? I dont know! We are all different and perceive the world differently!
            I want to look into their children's world and show my own!
            I want to teach children not to be afraid to be different, I want to teach them to communicate in any language!
            Be it words, sign language, or drawings!
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/3.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Neurocorrection specialist</div>
        <div class="teachers__cart_name"><strong>Mantulin Andrey</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Neurocorrection specialist<br><br>
            <strong>Mantulin Andrey</strong><br><br>
            National Pedagogical University named after M.P. Drahomanov:
            "For me, working with special children is not only work.
            First of all, it is an opportunity to use my knowledge and skills for the benefit of those
            who need our help and support."
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/4.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Psychologist, defectologist</div>
        <div class="teachers__cart_name"><strong>Botsula Anna</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Psychologist, defectologist<br><br>
            <strong>Botsula Anna</strong><br><br>
            Kyiv National University. T.G. Shevchenko:
            Working with special children opens up two main opportunities for me:
            to return to my childhood every day and to continuously improve my skills in related areas.
            All children are different, interesting and spontaneous.
            It's a pleasure to watch how they develop and help them in this!
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/5.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Sudorologist, defectologist</div>
        <div class="teachers__cart_name"><strong>Valevich Elena</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Sudorologist, defectologist<br><br>
            <strong>Valevich Elena</strong><br><br>
            Donetsk Open University:
            My teaching experience is 23 years. Of these, 16 years I worked with children with hearing
            impairments and 10 years of work with children from ASD and ADHD.
            Working with children is the first SOUNDS... WORDS, the first VICTORIES!
            Working with parents is an opportunity to help the family perceive the child for who he is!
            BELIEVE IN YOURSELF! IN YOUR BABY!! Learn to live in society!
            This is an opportunity to give parents the FAITH that their child will speak and understand the language!
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/6.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Psychologist, defectologist</div>
        <div class="teachers__cart_name"><strong>Makotseba Oksana</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Psychologist, defectologist<br><br>
            <strong>Makotseba Oksana</strong><br><br>
            Kyiv Pedagogical University. M.P. Dragomanova:
            "For me, working with special children of vocation. Every time the children and I "take" some peak,
            I feel an incredible drive and energy. I feel confident that we will reach even greater heights.
            Every victory of my student is mine too. "
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/7.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Psychologist, defectologist</div>
        <div class="teachers__cart_name"><strong>Kozlovskaya Anna</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Psychologist, defectologist<br><br>
            <strong>Kozlovskaya Anna</strong><br><br>
            "A person is not born in order to disappear without a trace into an unknown dust.
            A person leaves himself, first of all, in a person. This is higher happiness and the meaning of life."
            V. O. Sukhomlinsky
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/8.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Psychologist, defectologist</div>
        <div class="teachers__cart_name"><strong>Yashchenko Julia</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Psychologist, defectologist<br><br>
            <strong>Yashchenko Julia</strong><br><br>
            Kyiv National University named after T.G.Shevchenko:
            Working with children taught me simple but very important things:
            one small success can grow into a great victory. And faith, patience, teamwork can work wonders.
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/9.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Psychologist, defectologist</div>
        <div class="teachers__cart_name"><strong>Korotaevskaya Lydia</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Psychologist, defectologist<br><br>
            <strong>Korotaevskaya Lydia</strong><br><br>
            Kyiv National University named after T.G.Shevchenko:
            A teacher is an "eternal student" who will always find something to learn from his students.
            Therefore, self-development, responsibility and the ability to enjoy the little things -
            this for me is working with children.
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/10.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Music Therapist Specialist</div>
        <div class="teachers__cart_name"><strong>Ludmila Orgienko</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Music Therapist Specialist<br><br>
            <strong>Ludmila Orgienko</strong><br><br>
            "Musical Art" National Pedagogical University named after M.P. Drahomanov
            Music therapy classes allow you to look deeper and work with the emotions of the child.
            At the level of sensation and perception.
            Music is a special tool, it affects not only the brain, but also the feelings.
            A very large range of concepts affect the mind of the child, which our children need for social adaptation,
            namely in the classes of music therapy and logorhythm.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="teachers__wrapp" *ngSwitchCase="'Deutsche'">
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/1.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Direktor</div>
        <div class="teachers__cart_name"><strong>Mantulina Larisa Stepanowna</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Direktor<br><br>
            <strong>Mantulina Larisa Stepanowna</strong><br><br>
            Justizvollzugslehrer, ABA-Spezialist.
            Pädagogische Universität Kiew.  MP Dragomanova:
            Ich bin ein Lehrer im Wesentlichen, in der Form, aus Berufung.
            Langjährige pädagogische Erfahrung, die Suche nach den effektivsten Lehrmethoden war notwendig,
            um heute Kindern zu helfen, für die Bildung eine kolossale Arbeit ist.  Wir arbeiten zusammen:
            Schüler und Lehrer, Eltern und Fachleute.  Wir leben nicht in Kalenderjahren, sondern in akademischen Jahren,
            ohne Ferien und Feiertage, um das Wertvolle, das durch die tägliche mühevolle Arbeit geschaffen wird,
            nicht zu verlieren.
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/2.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Stellvertretender Direktor</div>
        <div class="teachers__cart_name"><strong>Machno Oksana</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Stellvertretender Direktor<br><br>
            <strong>Machno Oksana</strong><br><br>
            Sprachpathologe-Defektologe;  Klassenlehrer an Schulen mit schwerer Sprachbehinderung.  Donezker Institut für Markt- und Sozialpolitik „Sozialpsychologie“
            Nationale Pädagogische Universität benannt nach M. P. Drahomanov
            Ich arbeite mit Kindern mit Schwierigkeiten und ich liebe meinen Job!
            Ich fahre fort und werde dies weiterhin sagen!  Denn was sind Schwierigkeiten?
            Ich weiß nicht!  Wir sind alle verschieden und nehmen die Welt anders wahr!
            Ich möchte in die Welt ihrer Kinder blicken und meine eigene zeigen!
            Ich möchte Kindern beibringen, keine Angst davor zu haben, anders zu sein, ich möchte ihnen beibringen,
            in jeder Sprache zu kommunizieren!  Ob Worte, Gebärdensprache oder Zeichnungen!
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/3.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Spezialist für Neurokorrektur</div>
        <div class="teachers__cart_name"><strong>Mantulin Andrej</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Spezialist für Neurokorrektur<br><br>
            <strong>Mantulin Andrej</strong><br><br>
            Nationale Pädagogische Universität benannt nach M. P. Drahomanov:
            „Die Arbeit mit besonderen Kindern ist für mich nicht nur Arbeit. Zuallererst ist es eine Gelegenheit,
            mein Wissen und meine Fähigkeiten zum Wohle derer einzusetzen,
            die unsere Hilfe und Unterstützung brauchen.“
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/4.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Psychologe, Defektologe</div>
        <div class="teachers__cart_name"><strong>Botsula Anna</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Psychologe, Defektologe<br><br>
            <strong>Botsula Anna</strong><br><br>
            Nationale Universität Kiew.  T. G. Schewtschenko:
            Die Arbeit mit besonderen Kindern eröffnet mir vor allem zwei Möglichkeiten:
            jeden Tag in meine Kindheit zurückzukehren und meine Fähigkeiten in verwandten Bereichen kontinuierlich
            zu verbessern.  Alle Kinder sind unterschiedlich, interessant und spontan.
            Es ist eine Freude zu sehen, wie sie sich entwickeln und ihnen dabei zu helfen!
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/5.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Sudorologe, Defektologe</div>
        <div class="teachers__cart_name"><strong>Walewitsch Elena</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Sudorologe, Defektologe<br><br>
            <strong>Walewitsch Elena</strong><br><br>
            Offene Universität Donezk:
            Meine Unterrichtserfahrung beträgt 23 Jahre.  Davon habe ich 16 Jahre mit Kindern mit Hörbehinderungen
            und 10 Jahre mit Kindern mit ASD und ADHS gearbeitet.  Die Arbeit mit Kindern sind die ersten TÖNE...
            WORTE, die ersten SIEGE! Die Arbeit mit den Eltern ist eine Gelegenheit,
            der Familie zu helfen, das Kind so wahrzunehmen, wie es ist!  AN SICH SELBST GLAUBEN!
            IN IHREM BABY!  Lerne in der Gesellschaft zu leben!  Dies ist eine Gelegenheit,
            Eltern den GLAUBEN zu geben, dass ihr Kind die Sprache sprechen und verstehen wird!
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/6.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Psychologe, Defektologe</div>
        <div class="teachers__cart_name"><strong>Makotseba Oksana</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Psychologe, Defektologe<br><br>
            <strong>Makotseba Oksana</strong><br><br>
            Pädagogische Universität Kiew.  MP Dragomanova:
            „Für mich ist die Arbeit mit besonderen Kindern der Berufung.
            Jedes Mal, wenn die Kinder und ich einen Gipfel „erobern“, spüre ich einen unglaublichen Antrieb
            und eine unglaubliche Energie. Ich bin zuversichtlich, dass wir noch größere Höhen erreichen werden.
            Jeder Sieg meiner Schülerin ist auch meiner ."
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/7.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Psychologe, Defektologe</div>
        <div class="teachers__cart_name"><strong>Koslowskaja Anna</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Psychologe, Defektologe<br><br>
            <strong>Koslowskaja Anna</strong><br><br>
            "Ein Mensch wird nicht geboren, um spurlos in einem unbekannten Staub zu verschwinden.
            Ein Mensch verlässt sich zuallererst in einem Menschen. Das ist höheres Glück und der Sinn des Lebens."
            V. O. Sukhomlinsky
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/8.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Psychologe, Defektologe</div>
        <div class="teachers__cart_name"><strong>Jaschtschenko Julia</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Psychologe, Defektologe<br><br>
            <strong>Jaschtschenko Julia</strong><br><br>
            Kyiv National University benannt nach T.G.Shevchenko:
            Die Arbeit mit Kindern hat mich einfache, aber sehr wichtige Dinge gelehrt:
            Ein kleiner Erfolg kann zu einem großen Sieg heranwachsen.
            Und Glaube, Geduld, Teamarbeit können Wunder wirken
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/9.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Psychologe, Defektologe</div>
        <div class="teachers__cart_name"><strong>Korotaevskaya Lydia</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Psychologe, Defektologe<br><br>
            <strong>Korotaevskaya Lydia</strong><br><br>
            Kyiv National University, benannt nach T. G. Shevchenko:
            Ein Lehrer ist ein „ewiger Schüler“, der von seinen Schülern immer etwas zu lernen findet.
            Daher Selbstentfaltung, Verantwortung und Freude an den kleinen Dingen –
            das ist für mich die Arbeit mit Kindern.
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/10.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Facharzt für Musiktherapie</div>
        <div class="teachers__cart_name"><strong>Ludmilla Orgienko</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Facharzt für Musiktherapie<br><br>
            <strong>Ludmilla Orgienko</strong><br><br>
            Nationale Pädagogische Universität "Musikalische Kunst", benannt nach M. P. Drahomanov
            Musiktherapiekurse ermöglichen es Ihnen, tiefer zu schauen und mit den Emotionen des Kindes zu arbeiten.
            Auf der Ebene der Empfindung und Wahrnehmung.  Musik ist ein besonderes Werkzeug, sie beeinflusst nicht
            nur das Gehirn, sondern auch die Gefühle.  Auf die kindliche Psyche wirken sehr viele Konzepte ein,
            die unsere Kinder zur sozialen Anpassung brauchen, nämlich in den
            Klassen der Musiktherapie und des Logorhythmus.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="teachers__wrapp" *ngSwitchCase="'Français'">
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/1.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Réalisateur</div>
        <div class="teachers__cart_name"><strong>Mantulina Larisa Stepanovna</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Réalisateur<br><br>
            <strong>Mantulina Larisa Stepanovna</strong><br><br>
            Enseignant correctionnel, spécialiste ABA.
            Université pédagogique de Kiev.  Députée Dragomanova :
            Je suis enseignant par essence, dans la forme, par vocation.  De nombreuses années d'expérience pédagogique,
            la recherche des méthodes pédagogiques les plus efficaces était nécessaire pour qu'elle puisse
            aujourd'hui venir en aide aux enfants pour qui l'éducation est un travail colossal.
            Nous travaillons ensemble : élèves et enseignants, parents et professionnels.
            Nous ne vivons pas en années civiles, mais en années académiques, sans vacances ni jours fériés,
            afin de ne pas perdre la valeur créée par un travail quotidien minutieux.
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/2.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Directeur adjoint</div>
        <div class="teachers__cart_name"><strong>Makhno Oksana</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Directeur adjoint<br><br>
            <strong>Makhno Oksana</strong><br><br>
            orthophoniste-défectologue;  enseignant de classes dans des écoles présentant des troubles graves du langage.  Institut de Donetsk de marché et de politique sociale "Psychologie sociale"
            Université pédagogique nationale nommée d'après le député Drahomanov
            Je travaille avec des enfants en difficulté et j'adore mon métier!
            Je continue et continuerai à le dire !  Pour quelles difficultés ?
            Je ne sais pas!  Nous sommes tous différents et percevons le monde différemment !
            Je veux regarder dans le monde de leurs enfants et montrer le mien !
            Je veux apprendre aux enfants à ne pas avoir peur d'être différent,
            je veux leur apprendre à communiquer dans n'importe quelle langue !
            Qu'il s'agisse de mots, de langage des signes ou de dessins !
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/3.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Spécialiste de la neurocorrection</div>
        <div class="teachers__cart_name"><strong>Mantuline Andreï</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Spécialiste de la neurocorrection<br><br>
            <strong>Mantuline Andreï</strong><br><br>
            Université pédagogique nationale du nom du député Drahomanov :
            "Pour moi, travailler avec des enfants spéciaux n'est pas seulement un travail.
            C'est avant tout une opportunité de mettre mes connaissances et mes compétences au profit de ceux qui
            ont besoin de notre aide et de notre soutien."
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/4.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Psychologue, défectologue</div>
        <div class="teachers__cart_name"><strong>Bosula Anna</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Psychologue, défectologue<br><br>
            <strong>Bosula Anna</strong><br><br>
            Université nationale de Kiev.  T. G. Shevchenko :
            Travailler avec des enfants spéciaux m'ouvre deux opportunités principales: revenir chaque jour en
            enfance et améliorer continuellement mes compétences dans des domaines connexes.
            Tous les enfants sont différents, intéressants et spontanés.
            C'est un plaisir de voir comment ils évoluent et de les aider en cela !
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/5.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Sudorologue, défectologue</div>
        <div class="teachers__cart_name"><strong>Valévitch Elena</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Sudorologue, défectologue<br><br>
            <strong>Valévitch Elena</strong><br><br>
            Université ouverte de Donetsk :
            Mon expérience d'enseignement est de 23 ans.  Parmi ceux-ci, 16 ans, j'ai travaillé avec des enfants
            malentendants et 10 ans de travail avec des enfants atteints de TSA et de TDAH.
            Travailler avec les enfants, c'est les premiers SONS... LES MOTS, les premières VICTOIRES!
            Travailler avec les parents est une opportunité d'aider la famille à percevoir l'enfant tel qu'il est!
            CROYEZ EN VOUS! DANS VOTRE BÉBÉ! Apprenez à vivre en société!
            C'est l'occasion de donner aux parents la FOI que leur enfant parlera et comprendra la langue!
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/6.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Psychologue, défectologue</div>
        <div class="teachers__cart_name"><strong>Makotseba Oksana</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Psychologue, défectologue<br><br>
            <strong>Makotseba Oksana</strong><br><br>
            Université pédagogique de Kiev.  Députée Dragomanova :
            "Pour moi, travailler avec des enfants à vocation spéciale. Chaque fois que les enfants et moi "prenons"
            un certain pic, je ressens un dynamisme et une énergie incroyables.
            Je suis convaincu que nous atteindrons des sommets encore plus grands. Chaque victoire de mon
            élève est aussi la mienne."
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/7.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Psychologue, défectologue</div>
        <div class="teachers__cart_name"><strong>Kozlovskaïa Anna</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Psychologue, défectologue<br><br>
            <strong>Kozlovskaïa Anna</strong><br><br>
            "Une personne n'est pas née pour disparaître sans laisser de trace dans une poussière inconnue.
            Une personne se laisse avant tout dans une personne. C'est le bonheur supérieur et le sens de la vie."
            VO Sukhomlinsky
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/8.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Psychologue, défectologue</div>
        <div class="teachers__cart_name"><strong>Iachtchenko Julia</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Psychologue, défectologue<br><br>
            <strong>Iachtchenko Julia</strong><br><br>
            Université nationale de Kiev nommée d'après TG Shevchenko :
            Travailler avec des enfants m'a appris des choses simples mais très importantes :
            un petit succès peut devenir une grande victoire.
            Et la foi, la patience, le travail d'équipe peuvent faire des merveilles
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/9.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Psychologue, défectologue</div>
        <div class="teachers__cart_name"><strong>Korotaevskaïa Lydia</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Psychologue, défectologue<br><br>
            <strong>Korotaevskaïa Lydia</strong><br><br>
            Université nationale de Kiev nommée d'après TG Shevchenko :
            Un enseignant est un « éternel étudiant » qui trouvera toujours quelque chose à apprendre de ses élèves.
            Par conséquent, le développement personnel, la responsabilité et la capacité d'apprécier
            les petites choses - cela pour moi, c'est travailler avec les enfants.
          </div>
        </div>
      </div>
    </div>
    <div class="teachers__cart"> <img class="teachers__photo" src="assets/img/teachers/10.jpg" />
      <div class="teachers__cart_wrapp">
        <div class="teachers__cart_work">Musicothérapeute spécialiste</div>
        <div class="teachers__cart_name"><strong>Ludmila Orgienko</strong></div>
        <div class="teachers__cart_circle">
          <div class="teachers__cart_descr">Musicothérapeute spécialiste<br><br>
            <strong>Ludmila Orgienko</strong><br><br>
            Université pédagogique nationale "Art musical" du nom du député Drahomanov
            Les cours de musicothérapie permettent d'approfondir et de travailler avec les émotions de l'enfant.
            Au niveau de la sensation et de la perception.  La musique est un outil spécial,
            elle affecte non seulement le cerveau, mais aussi les sentiments.
            Un très large éventail de concepts affectent l'esprit de l'enfant, dont nos enfants ont besoin pour
            l'adaptation sociale, notamment dans les cours de musicothérapie et de logorhythme.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
