<div class="charity" [ngSwitch]="language">

  <div class="charity__header" *ngSwitchCase="'Ukrainian'">24.02.2022 агресор атакував нашу країну.</div>
  <div class="charity__header" *ngSwitchCase="'English'">On February 24, 2022, the aggressor attacked our country.</div>
  <div class="charity__header" *ngSwitchCase="'Deutsche'">Am 24. Februar 2022 griff der Aggressor unser Land an.</div>
  <div class="charity__header" *ngSwitchCase="'Français'">Le 24 février 2022, l'agresseur a attaqué notre pays.</div>
  <div class="charity__header" *ngSwitchCase="'Russian'">24.02.2022 агрессор атаковал нашу страну.</div>

  <div class="charity__text">

    <p *ngSwitchCase="'Ukrainian'">
      Задля безпеки наших дітей та спеціалістів ми вимушені були припинити діяльність центру у місті Києві та перевести заняття в он-лайн режим.
      Нині в Україні триває війна. Всюди на території України наші діти, їхні матері, старі та інваліди стали безневинними жертвами агресії. Вони гинуть і одержують каліцтва (поранення) від обстрілів. Їм потрібна своєчасна допомога – медична, продовольча та морально-психологічна, а також тепло та безпека!
      Для здійснення всіх цих дій необхідні фінанси, яких у нас недостатньо. Розподіл грошей конкретним постраждалим людям на місці трагедії дозволить матерям, людям похилого віку та інвалідам купувати необхідні медикаменти, продукти харчування, паливо для обігріву себе та заправки автомобілів для виїзду в безпечні місця та доставки всього необхідного інвалідам та дітям.
      Понад 8 років наша некомерційна громадська організація «Наше дитинство» опікується дітьми з обмеженими можливостями, а в сьогоднішній ситуації займається всіма дітьми, їхніми матерями та старими людьми.
    </p>
    <p *ngSwitchCase="'English'">
      For the safety of our children and specialists, we were forced to stop the activities of the center in Kyiv and transfer classes to online mode.
      There is currently a war going on in Ukraine. Everywhere on the territory of Ukraine, our children, their mothers, the elderly and the disabled have become harmless victims of aggression. They die and get maimed (injured) from shelling. They need timely assistance - medical, food and moral-psychological, as well as warmth and security!
      To carry out all these actions, funds are needed, which we do not have enough. Distributing money to specific affected people at the scene of the tragedy will allow mothers, the elderly and the disabled to buy the necessary medicines, food, fuel to heat themselves and refuel cars to travel to safe places and deliver everything necessary to the disabled and children.
      For more than 8 years, our non-profit public organization "Our Childhood" has been dealing with children with disabilities, and in today's situation, it deals with all children, their mothers and the elderly.
    </p>
    <p *ngSwitchCase="'Deutsche'">
      Zur Sicherheit unserer Kinder und Spezialisten waren wir gezwungen, das Zentrum in Kiew zu schließen und den Unterricht online zu verlegen.
      Die Ukraine befindet sich derzeit im Krieg.  Überall in der Ukraine sind unsere Kinder, ihre Mütter, ältere Menschen und Behinderte zu unschuldigen Opfern von Aggressionen geworden.  Sie sterben und werden durch den Beschuss verletzt.  Sie brauchen rechtzeitige Hilfe – medizinische, ernährungsphysiologische und psychologische sowie Wärme und Geborgenheit!
      Um all diese Aktionen durchzuführen, bedarf es finanzieller Mittel, die uns nicht ausreichen.  Die Verteilung von Geldern an bestimmte Opfer am Ort der Tragödie wird es Müttern, älteren und behinderten Menschen ermöglichen, die notwendigen Medikamente, Lebensmittel, Kraftstoff zum Heizen und Betanken von Autos zu kaufen, um an sichere Orte zu fahren und alles zu liefern, was die Behinderten und Kinder benötigen.
      Seit mehr als 8 Jahren kümmert sich unsere gemeinnützige öffentliche Organisation „Our Childhood“ um Kinder mit Behinderungen und befasst sich in der heutigen Situation mit allen Kindern, ihren Müttern und älteren Menschen.
    </p>
    <p *ngSwitchCase="'Français'">
      Pour la sécurité de nos enfants et de nos spécialistes, nous avons été contraints de fermer le centre de Kiev et de transférer les cours en ligne.
      L'Ukraine est actuellement en guerre.  Partout en Ukraine, nos enfants, leurs mères, les personnes âgées et les handicapés sont devenus d'innocentes victimes d'agressions.  Ils meurent et sont blessés par les bombardements.  Ils ont besoin d'une aide opportune - médicale, alimentaire, morale et psychologique, ainsi que de chaleur et de sécurité !
      Pour mener à bien toutes ces actions, il faut des finances, dont nous n'avons pas assez.  La distribution d'argent à des victimes spécifiques sur le site de la tragédie permettra aux mères, aux personnes âgées et aux handicapés d'acheter les médicaments, la nourriture, le carburant nécessaires pour se chauffer et de faire le plein de voitures pour se rendre dans des endroits sûrs et livrer tout ce dont les handicapés et les enfants ont besoin.
      Depuis plus de 8 ans, notre ASBL "Notre Enfance" s'occupe d'enfants en situation de handicap, et dans la situation actuelle s'occupe de tous les enfants, de leurs mères et des personnes âgées.
    </p>
    <p *ngSwitchCase="'Russian'">
      Для безопасности наших детей и специалистов мы вынуждены были прекратить деятельность центра в Киеве и перевести занятия в он-лайн режим.
      В настоящее время в Украине идет война.  Всюду на территории Украины наши дети, их матери, старики и инвалиды стали безобидными жертвами агрессии.  Они погибают и получают увечья (ранения) от обстрелов.  Им необходима своевременная помощь – медицинская, продовольственная и морально-психологическая, а также тепло и безопасность!
      Для осуществления всех этих действий необходимы финансы, которых у нас недостаточно.  Распределение денег конкретным пострадавшим людям на месте трагедии позволит матерям, пожилым людям и инвалидам покупать необходимые медикаменты, продукты питания, топливо для обогрева себя и заправки автомобилей для выезда в безопасные места и доставки всего необходимого инвалидам и детям.
      Более 8 лет наша некоммерческая общественная организация «Наше детство» занимается детьми с ограниченными возможностями, а в сегодняшней ситуации занимается всеми детьми, их матерями и стариками.
    </p>

    <br><br>

    <em *ngSwitchCase="'Ukrainian'">
      Просимо вас надати посильну фінансову допомогу із призначенням платежу –
      <span class='content__text_underline'>добровільна пожертва на виконання статутної діяльності.</span>
      Реквізити нашої організації додаються:
    </em>
    <em *ngSwitchCase="'English'">
      We ask you to provide all possible financial assistance with the purpose of payment -
      <span class='content__text_underline'>voluntary donation for the performance of statutory activities.</span>
      Details of our organization are added:
    </em>
    <em *ngSwitchCase="'Deutsche'">
      Просимо вас надати посильну фінансову допомогу із призначенням платежу –
      <span class='content__text_underline'>добровільна пожертва на виконання статутної діяльності.</span>
      Реквізити нашої організації додаються:
    </em>
    <em *ngSwitchCase="'Français'">
      Nous vous demandons de fournir toute l'aide financière possible dans le but de payer -
      <span class='content__text_underline'>un don volontaire pour les activités statutaires.</span>
      Les détails de notre organisation sont joints:
    </em>
    <em *ngSwitchCase="'Russian'">
      Wir bitten Sie, jede mögliche finanzielle Unterstützung mit dem Zweck der Zahlung bereitzustellen -
      <span class='content__text_underline'>eine freiwillige Spende für die satzungsgemäßen Aktivitäten.</span>
      Details unserer Organisation sind beigefügt:
    </em>

    <br><br>

    PAYPAL : <a href='mailto:ip25@ukr.net' class='charity__mail'>ip25@ukr.net</a> NGO Nashe Dytynstvo
    <br><br>
    USD
    <br>
    IBAN Code UA803052990000026008046228692
    <br><br>
    EUR
    <br>
    IBAN Code UA773052990000026000046219900
  </div>
  <div class="charity__footer">

    <p *ngSwitchCase="'Ukrainian'">Звіт</p>
    <p *ngSwitchCase="'English'">Report</p>
    <p *ngSwitchCase="'Deutsche'">Bericht</p>
    <p *ngSwitchCase="'Français'">Signaler</p>
    <p *ngSwitchCase="'Russian'">Отчет</p>

    <div class="content__charity_block">
    <div class="charity__text">

      <p *ngSwitchCase="'Ukrainian'">
        У квітні 2022 року наші волонтери постачали заморожене м’ясо курки до установ, що звертались до нас та потребували допомоги для годування людей.
      </p>
      <p *ngSwitchCase="'English'">
        In April 2022, our volunteers delivered frozen chicken meat to institutions that approached us and needed help to feed people.
      </p>
      <p *ngSwitchCase="'Deutsche'">
        Im April 2022 lieferten unsere Freiwilligen gefrorenes Hühnerfleisch an Einrichtungen, die auf uns zukamen und Hilfe benötigten, um Menschen zu ernähren.
      </p>
      <p *ngSwitchCase="'Français'">
        En avril 2022, nos bénévoles ont livré de la viande de poulet congelée aux institutions qui nous ont approchés et qui avaient besoin d'aide pour nourrir les gens.
      </p>
      <p *ngSwitchCase="'Russian'">
        В апреле 2022 года наши волонтеры поставляли замороженное мясо курицы в учреждения, которые обращались к нам и нуждались в помощи для кормления людей.
      </p>

      <div class="charity__wrapp">
        <img class="charity__image" src="~/src/assets/img/report/1.jpg" alt="report_photo" />
        <img class="charity__image" src="./assets/img/report/2.jpg" alt="report_photo" />
        <img class="charity__image" src="./assets/img/report/11.jpg" alt="report_photo" />
        <button
          [routerLink]="['/gallery']"
          [queryParams]="{ topic:'report' }"
          class="charity__image charity__image_last"
        >
          <img class="charity__image" src="assets/img/report/5.jpg" alt="report_photo" />
        </button>
      </div>
    </div>
  </div>
    <div class="charity__block">
      <div class="charity__text">

        <p *ngSwitchCase="'Ukrainian'">
          До наших волонтерів звернулась мати, котра потребує допомоги. вул. Челябінська, м.Київ
        </p>
        <p *ngSwitchCase="'English'">
          Our volunteers were approached by a mother who needed help. street Chelyabinsk, Kyiv
        </p>
        <p *ngSwitchCase="'Deutsche'">
          Unsere Freiwilligen wurden von einer Mutter angesprochen, die Hilfe brauchte. Straße Tscheljabinsk, Kiew
        </p>
        <p *ngSwitchCase="'Français'">
          Nos volontaires ont été approchés par une mère qui avait besoin d'aide. rue Tcheliabinsk, Kyiv
        </p>
        <p *ngSwitchCase="'Russian'">
          К нашим волонтерам обратилась мать, нуждающаяся в помощи. ул. Челябинская, г.Киев
        </p>

        <div class="charity__wrapp">
          <img class="charity__image" src="assets/img/report_woman/2.jpg" alt="" />
          <img class="charity__image" src="assets/img/report_woman/3.jpg" alt="" />
          <img class="charity__image" src="assets/img/report_woman/1.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

