<div class="events">
  <div class="events__wrapp">
    <div class="events__block">
      <a [routerLink]="['/gallery']"
         [queryParams]="{ topic:'saint_nicolaus_2021' }"
      >
        <div class="events__text">Святого Миколая 2021</div>
        <div class="events__photo"><img src="assets/img/events/1.jpg" /></div>
      </a>
    </div>

    <div class="events__block">
      <a [routerLink]="['/gallery']"
         [queryParams]="{ topic:'new_year_2018' }"
      >
        <div class="events__text">Новий Рік 2018</div>
        <div class="events__photo"><img src="assets/img/events/2.jpg" /></div>
      </a>
    </div>

    <div class="events__block">
      <a [routerLink]="['/gallery']"
         [queryParams]="{ topic:'knowledge_day_2018' }"
      >
        <div class="events__text">День знань 2018</div>
        <div class="events__photo"><img src="assets/img/events/3.jpg" /></div>
      </a>
    </div>

    <div class="events__block">
      <a [routerLink]="['/gallery']"
         [queryParams]="{ topic:'sasha_birthday_2016' }"
      >
        <div class="events__text">День народження Саші у 2016 році</div>
        <div class="events__photo"><img src="assets/img/events/4.jpg" /></div>
      </a>
    </div>

    <div class="events__block">
      <a [routerLink]="['/gallery']"
         [queryParams]="{ topic:'kostya_birthday_2016' }"
      >
        <div class="events__text">День народження Кості у 2016 році</div>
        <div class="events__photo"><img src="assets/img/events/5.jpg" /></div>
      </a>
    </div>

    <div class="events__block">
      <a [routerLink]="['/gallery']"
         [queryParams]="{ topic:'opening_2015' }"
      >
        <div class="events__text">Відкриття 2015</div>
        <div class="events__photo"><img src="assets/img/events/6.jpg" /></div>
      </a>
    </div>

    <div class="events__block">
      <a [routerLink]="['/gallery']"
         [queryParams]="{ topic:'fair_2014' }"
      >
        <div class="events__text">Ярмарок 2014</div>
        <div class="events__photo"><img src="assets/img/events/7.JPG" /></div>
      </a>
    </div>

    <div class="events__block">
      <a [routerLink]="['/gallery']"
         [queryParams]="{ topic:'fair_2014' }"
      >
        <div class="events__text">Новий Рік 2013</div>
        <div class="events__photo"><img src="assets/img/events/8.jpg" /></div>
      </a>
    </div>

    <div class="events__block">
      <a [routerLink]="['/gallery']"
         [queryParams]="{ topic:'autumn_holiday_2013' }"
      >
        <div class="events__text">Свято осені 2013</div>
        <div class="events__photo"><img src="assets/img/events/9.jpg" /></div>
      </a>
    </div>

    <div class="events__block">
      <a [routerLink]="['/gallery']"
         [queryParams]="{ topic:'autumn_holiday_2019' }"
      >
        <div class="events__text">Свято осені 2019</div>
        <div class="events__photo"><img src="assets/img/events/10.jpg" /></div>
      </a>
    </div>
  </div>
</div>
