<div [ngSwitch]="language">
  <div class="content__text" *ngSwitchCase="'Ukrainian'">
    Практична діяльність Корекційного центра була розпочата в 2011 року, а громадська організація «Наше дитинство» була створена 15.04.2013 році в м. Донецьк для надання допомоги сім’ям, які мають дітей-інвалідів (аутизм, розумова відсталість, синдром Дауна, синдром Вільямса, синдром Рубинштейна, гідроцифалія) . З 2011 до 2014 року Центром була надана допомога 200 сім’ям, а арендовані площі збільшилися з 15 метрів до 200 метрів в 2 районах міста Донецьк.<br><br>
    Події 2014 року на Сході примусили сім’ї, які навчалися у Центрі «Наше дитинство» поїхати з м. Донецьк. Частина сімей переїхала до м. Київ. Громадська організація «Наше дитинство» була перереєстрована 12.02 2015 року у м. Києві. За період з 2013 року по цей час Центр надав допомогу 400 дітей.<br><br>
    «Наше Дитинство», насьогодні, є одним із провідних закладів, що працює з цією категорією дітей. «Наше дитинство» працює з дітьми з 1 року , найстаршому учню 20 років. «Наше дитинство» працює з сім’ями з Ізраїлю, Італії, Іспанії, Білорусі, Німеччини, Данії. Також постійно приїжджають сім’ї з інших міст України (Миколаїв, Кропивницький, Львів, Кривий Ріг, Маріуполь, Дніпро, Херсон, Одеса, Харків).<br><br>

    В «Нашому дитинстві» працюють спеціалісти різних напрямків роботи:<br>
    Найкращий показник роботи центру - це результати наших дітей. Наші діти мають найкращі навички читання у своїх класах, беруть участь в олімпіадах з математики, грають на фортепіано і беруть участь у концертах. В «Нашому дитинстві» вміють навчити розумово відсталих дітей читати і писати. Використання найновітніших методик навчання дозволяють адаптувати більшість дітей до життя у соціумі, набути необхідних навичок для ефективної взаємодії з навколишнім середовищем.<br><br>

    Вказані вище результати стали можливі завдяки ретельно підібраним методикам:<br><br>

    АВА-терапія (аналіз та корекція поведінки);<br><br>

    Мнемотехніки (асоціативний спосіб запам’ятовування букв, цифр та іншої інформації);<br><br>

    Авторські методики Мантуліної (навчання математики та читання, письма);<br><br>

    Сенсорна інтеграція;<br><br>

    Для виконання цих статутних завдань на на базі ГО були організовані:<br><br>

    - групові заняття з творчості та музики , на яких діти вчаться працювати в групі однолітків ( на групах присутні діти з різними нозологіями (аутизм, ДЦП, розумова відсталість, синдром Дауна, синдром Рубинштейна) ;<br><br>

    -міні комунікаційні групи, на яких діти з аутизмом вчаться спілкуватися, підтримувати бесіду і набувають соціальних навичок відносно віку;<br><br>

    -індивідуальні заняття , які проводяться за особистою програмою дитини і направлені на інтелектуальний, мовленнєвий, дрібномоторний розвиток ;<br><br>

    -логопедичні заняття, на яких діти вчаться говорити та долають недоліки мови;<br><br>

    -заняття з нейрокорекції, на яких діти вчаться виконувати фізичні вправи, які направленні на подолання сенсорних труднощів.<br><br>

    -сімейні свята , на яких діти вчаться виступати на сцені (співати , танцювати). Заходи направленні на формування здорової атмосфери в сім`ях, що виховують дитину-інваліда.<br><br>

    -заняття з сурдологом дають можливість дітям , які не здібні розмовляти отримати альтернативну систему комунікації (мову жестів);<br><br>

    -консультації для батьків , на яких вони отримують корисну інформацію відносно організації побуту дитини, розвивального простору вдома, закріплення навичок, отриманих на заняттях.
  </div>

  <div class="content__text" *ngSwitchCase="'Russian'">
    Практическая деятельность Коррекционного центра была начата в 2011 году, а общественная организация «Наше детство» была создана 15.04.2013 в г. Донецк для оказания помощи семьям, имеющим детей-инвалидов (аутизм, умственная отсталость, синдром Дауна, синдром Уильямса , синдром Рубинштейна, гидроцефалия) С 2011 по 2014 год Центром была оказана помощь 200 семьям, а арендованные площади увеличились с 15 метров до 200 метров в 2 районах города Донецк.<br><br>
    События 2014 на Востоке заставили семьи, которые учились в Центре «Наше детство» поехать из Донецка. Часть семей переехала в Киев. Общественная организация «Наше детство» была перерегистрирована 12.02 2015 в г. Киеве. За период с 2013 года по настоящее время Центр оказал помощь 400 детям.<br><br>
    «Наше Детство», на сегодняшний день, является одним из ведущих заведений, работающих с этой категорией детей. «Наше детство» работает с детьми с 1 года, самому старшему ученику 20 лет. «Наше детство» работает с семьями из Израиля, Италии, Испании, Белоруссии, Германии, Дании. Также постоянно приезжают семьи из других городов Украины (Николаев, Кропивницкий, Львов, Кривой Рог, Мариуполь, Днепр, Херсон, Одесса, Харьков).<br><br>

    В «Нашем детстве» работают специалисты разных направлений работы:<br>
    Лучший показатель работы центра – это результаты наших детей. У наших детей лучшие навыки чтения в своих классах, участвуют в олимпиадах по математике, играют на фортепиано и участвуют в концертах. В «Нашем детстве» умеют научить умственно отсталым детям читать и писать. Использование новейших методик обучения позволяет адаптировать большинство детей к жизни в социуме, приобрести необходимые навыки для эффективного взаимодействия с окружающей средой.<br><br>

    Вышеуказанные результаты стали возможны благодаря тщательно подобранным методикам:<br><br>

    АВА-терапия (анализ и коррекция поведения);<br><br>

    мнемотехники (ассоциативный способ запоминания букв, цифр и другой информации);<br><br>

    Авторские методики Мантулиной (обучение математике и чтению, письму);<br><br>

    Сенсорная интеграция;<br><br>

    Для выполнения этих уставных задач на базе ГО были организованы:<br><br>

    - групповые занятия по творчеству и музыке, на которых дети учатся работать в группе сверстников (на группах присутствуют дети с разными нозологиями (аутизм, ДЦП, умственная отсталость, синдром Дауна, синдром Рубинштейна));<br><br>

    -мини коммуникационные группы, на которых дети с аутизмом учатся общаться, поддерживать беседу и приобретают социальные навыки относительно возраста;<br><br>

    -индивидуальные занятия, которые проводятся по личной программе ребенка и направлены на интеллектуальное, речевое, мелкомоторное развитие;<br><br>

    -логопедические занятия, на которых дети учатся говорить и преодолевают недостатки языка;<br><br>

    -занятия по нейрокоррекции, на которых дети учатся выполнять физические упражнения, направленные на преодоление сенсорных затруднений.<br><br>

    -семейные праздники, на которых дети учатся выступать на сцене (петь, танцевать). Мероприятия направлены на формирование здоровой атмосферы в семьях, воспитывающих ребенка-инвалида.<br><br>

    -занятия с сурдологом дают возможность детям, не способным разговаривать получить альтернативную систему коммуникации (язык жестов);<br><br>

    -консультации для родителей, на которых они получают полезную информацию относительно организации быта ребенка, развивающего пространства на дому, закрепления навыков, полученных на занятиях.
  </div>

  <div class="content__text" *ngSwitchCase="'English'">
    The practical activity of the Correctional Center was launched in 2011, and the public organization "Our Childhood" was created on April 15, 2013 in Donetsk to provide assistance to families with disabled children (autism, mental retardation, Down syndrome, Williams syndrome, Rubinstein syndrome, hydrocephalus) From 2011 to 2014, the Center provided assistance to 200 families, and the rented area increased from 15 meters to 200 meters in 2 districts of the city of Donetsk.<br><br>

    The events of 2014 in the East forced the families who studied at the Our Childhood Center to leave Donetsk. Some families moved to Kyiv. Public organization "Our Childhood" was re-registered on February 12, 2015 in Kyiv. From 2013 to the present, the Center has provided assistance to 400 children.<br><br>

    "Our Childhood", today, is one of the leading institutions working with this category of children. Our Childhood works with children from the age of 1, the oldest student is 20 years old. Our Childhood works with families from Israel, Italy, Spain, Belarus, Germany, and Denmark. Also, families from other cities of Ukraine (Nikolaev, Kropyvnytskyi, Lviv, Krivoy Rog, Mariupol, Dnipro, Kherson, Odessa, Kharkov) constantly come.<br><br>

    Our Childhood employs specialists from different areas of work:<br>
    The best indicator of the work of the center is the results of our children. Our children have the best reading skills in their classes, participate in math olympiads, play the piano and participate in concerts. In "Our Childhood" they know how to teach mentally retarded children to read and write. The use of the latest teaching methods allows most children to adapt to life in society, to acquire the necessary skills for effective interaction with the environment.<br><br>

    The above results were made possible thanks to carefully selected techniques:<br><br>

    ABA-therapy (analysis and behavior correction);<br><br>

    mnemonics (an associative way of remembering letters, numbers and other information);<br><br>

    Author's methods of Mantulina (teaching mathematics and reading, writing);<br><br>

    Sensory integration;<br><br>

    To fulfill these statutory tasks, the following were organized on the basis of the Civil Defense:<br><br>

    - group classes in creativity and music, where children learn to work in a group of peers (groups include children with different nosologies (autism, cerebral palsy, mental retardation, Down syndrome, Rubinstein syndrome));<br><br>

    -mini communication groups, where children with autism learn to communicate, maintain a conversation and acquire social skills in relation to age;<br><br>

    -individual classes, which are conducted according to the personal program of the child and are aimed at intellectual, speech, fine motor development;<br><br>

    -speech therapy classes in which children learn to speak and overcome the shortcomings of the language;<br><br>

    -classes on neurocorrection, in which children learn to perform physical exercises aimed at overcoming sensory difficulties.<br><br>

    -family holidays where children learn to perform on stage (sing, dance). The events are aimed at creating a healthy atmosphere in families raising a disabled child.<br><br>

    -classes with an audiologist provide an opportunity for children who are unable to speak to receive an alternative communication system (sign language);<br><br>

    -consultations for parents, where they receive useful information regarding the organization of the child's life, developing space at home, consolidating the skills acquired in the classroom.
  </div>

  <div class="content__text" *ngSwitchCase="'Français'">
    L'activité pratique du centre correctionnel a été lancée en 2011 et l'organisation publique "Notre enfance" a été créée le 15 avril 2013 à Donetsk pour fournir une assistance aux familles ayant des enfants handicapés (autisme, retard mental, syndrome de Down, syndrome de Williams, Rubinstein syndrome, hydrocéphalie) De 2011 à 2014, le Centre a fourni une assistance à 200 familles et la superficie louée est passée de 15 mètres à 200 mètres dans 2 quartiers de la ville de Donetsk.<br><br>

    Les événements de 2014 à l`est d`Ukraine ont forcé les familles qui étudiaient au centre Our Childhood à quitter Donetsk.  Certaines familles ont déménagé à Kiev.  L'organisation publique "Notre enfance" a été réenregistrée le 12 février 2015 à Kiev.  De 2013 à aujourd'hui, le Centre a apporté son aide à 400 enfants.<br><br>

    "Notre Enfance", aujourd'hui, est l'une des principales institutions travaillant avec cette catégorie d'enfants.  Notre enfance travaille avec des enfants à partir de 1 an, l'élève le plus âgé a 20 ans.  Notre enfance travaille avec des familles d'Israël, d'Italie, d'Espagne, de Biélorussie, d'Allemagne et du Danemark.  De plus, des familles d'autres villes d'Ukraine (Nikolaev, Kropyvnytskyi, Lviv, Krivoy Rog, Marioupol, Dnipro, Kherson, Odessa, Kharkov) viennent constamment.<br><br>

    Notre enfance emploie des spécialistes de différents domaines de travail:<br>
    Le meilleur indicateur du travail du centre est les résultats de nos enfants.  Nos enfants ont les meilleures compétences en lecture dans leurs classes, participent à des olympiades mathématiques, jouent du piano et participent à des concerts.  Dans "Notre enfance", ils savent apprendre à lire et à écrire aux enfants déficients mentaux.  L'utilisation des dernières méthodes d'enseignement permet à la plupart des enfants de s'adapter à la vie en société, d'acquérir les compétences nécessaires pour une interaction efficace avec l'environnement.<br><br>

    Les résultats ci-dessus ont été rendus possibles grâce à des techniques soigneusement sélectionnées:<br><br>

    ABA-thérapie (analyse et correction du comportement);<br><br>

    mnémoniques (une manière associative de se souvenir des lettres, des chiffres et d'autres informations);<br><br>

    Méthodes d'auteur de Mantulina (enseignement des mathématiques et lecture, écriture);<br><br>

    L'intégration sensorielle;<br><br>

    Pour remplir ces missions statutaires, ont été organisés sur la base de la Défense Civile:<br><br>

    - des cours collectifs de créativité et de musique, dans lesquels les enfants apprennent à travailler dans un groupe de pairs (les groupes comprennent des enfants avec différentes nosologies (autisme, paralysie cérébrale, retard mental, syndrome de Down, syndrome de Rubinstein));<br><br>

    -des mini-groupes de communication, où les enfants autistes apprennent à communiquer, à entretenir une conversation et à acquérir des compétences sociales en fonction de leur âge;<br><br>

    -des cours individuels, qui sont menés selon le programme personnel de l'enfant et visent le développement intellectuel, de la parole et de la motricité fine;<br><br>

    -des cours d'orthophonie dans lesquels les enfants apprennent à parler et à surmonter les lacunes de la langue;<br><br>

    -des cours de neurocorrection, dans lesquels les enfants apprennent à effectuer des exercices physiques visant à surmonter les difficultés sensorielles.<br><br>

    -des vacances en famille où les enfants apprennent à se produire sur scène (chant, danse).  Les événements visent à créer une atmosphère saine dans les familles élevant un enfant handicapé.<br><br>

    -les cours avec un audiologiste permettent aux enfants incapables de parler de bénéficier d'un système de communication alternatif (langue des signes);<br><br>

    -des consultations pour les parents, où ils reçoivent des informations utiles concernant l'organisation de la vie de l'enfant, l'aménagement de l'espace à la maison, laо consolidation des compétences acquises en classe.
  </div>

  <div class="content__text" *ngSwitchCase="'Deutsche'">
    Die praktische Tätigkeit des Justizvollzugszentrums wurde 2011 gestartet, und am 15. April 2013 wurde in Donezk die öffentliche Organisation "Our Childhood" gegründet, um Familien mit behinderten Kindern (Autismus, geistige Behinderung, Down-Syndrom, Williams-Syndrom, Rubinstein) zu helfen Syndrom, Hydrozephalus) Von 2011 bis 2014 unterstützte das Zentrum 200 Familien, und die gemietete Fläche wurde in 2 Bezirken der Stadt Donezk von 15 auf 200 Quadratmeter erweitert.<br><br>

    Die Ereignisse von 2014 im Osten der Ukraine zwangen die Familien, die am Our Childhood Center studierten, Donezk zu verlassen.  Einige Familien zogen nach Kiew.  Die öffentliche Organisation „Our Childhood“ wurde am 12. Februar 2015 in Kiew neu registriert.  Von 2013 bis heute hat das Zentrum 400 Kindern geholfen.<br><br>

    „Our Childhood“ ist heute eine der führenden Institutionen, die mit dieser Kategorie von Kindern arbeitet.  Unsere Kindheit arbeitet mit Kindern ab 1 Jahr, der älteste Schüler ist 20 Jahre alt.  Unsere Kindheit arbeitet mit Familien aus Israel, Italien, Spanien, Weißrussland, Deutschland und Dänemark.  Auch Familien aus anderen Städten der Ukraine (Nikolaev, Kropyvnytskyi, Lviv, Krivoy Rog, Mariupol, Dnipro, Cherson, Odessa, Charkow) kommen ständig.<br><br>

    Unsere Kindheit beschäftigt Spezialisten aus verschiedenen Arbeitsbereichen:<br>
    Der beste Indikator für die Arbeit des Zentrums sind die Ergebnisse unserer Kinder.  Unsere Kinder haben die besten Lesefähigkeiten in ihren Klassen, nehmen an Matheolympiaden teil, spielen Klavier und nehmen an Konzerten teil.  In „Unsere Kindheit“ wissen sie, wie man geistig behinderten Kindern das Lesen und Schreiben beibringt.  Die Verwendung der neuesten Lehrmethoden ermöglicht den meisten Kindern, sich an das Leben in der Gesellschaft anzupassen und die notwendigen Fähigkeiten für einen effektiven Umgang mit der Umwelt zu erwerben.<br><br>

    Die oben genannten Ergebnisse wurden dank sorgfältig ausgewählter Techniken ermöglicht:<br><br>

    ABA-Therapie (Analyse und Verhaltenskorrektur);<br><br>

    Mnemonik (eine assoziative Art, sich Buchstaben, Zahlen und andere Informationen zu merken);<br><br>

    Methoden des Autors von Mantulina (Unterrichten von Mathematik und Lesen, Schreiben);<br><br>

    Sensorische Integration;<br><br>

    Zur Erfüllung dieser gesetzlichen Aufgaben wurden auf der Grundlage des Zivilschutzes organisiert:<br><br>

    - Gruppenkurse in Kreativität und Musik, in denen Kinder lernen, in einer Gruppe von Gleichaltrigen zu arbeiten (zu den Gruppen gehören Kinder mit unterschiedlichen Nosologien (Autismus, Zerebralparese, geistige Behinderung, Down-Syndrom, Rubinstein-Syndrom));<br><br>

    - Mini-Kommunikationsgruppen, in denen Kinder mit Autismus lernen zu kommunizieren, ein Gespräch zu führen und soziale Fähigkeiten in Bezug auf das Alter zu erwerben;<br><br>

    -Einzelunterricht, der nach dem persönlichen Programm des Kindes durchgeführt wird und auf die intellektuelle, sprachliche und feinmotorische Entwicklung abzielt;<br><br>

    - Sprachtherapiekurse, in denen Kinder sprechen lernen und die Mängel der Sprache überwinden;<br><br>

    -Kurse zur Neurokorrektur, in denen Kinder lernen, körperliche Übungen durchzuführen, die darauf abzielen, sensorische Schwierigkeiten zu überwinden.<br><br>

    -Familienferien, in denen Kinder lernen, auf der Bühne aufzutreten (singen, tanzen).  Die Veranstaltungen zielen darauf ab, eine gesunde Atmosphäre in Familien zu schaffen, die ein behindertes Kind erziehen.<br><br>

    - Kurse mit einem Hörgeräteakustiker bieten Kindern, die nicht sprechen können, die Möglichkeit, ein alternatives Kommunikationssystem (Gebärdensprache) zu erlernen;<br><br>

    -Beratung für Eltern, wo sie nützliche Informationen über die Organisation des Lebens des Kindes erhalten, den Raum zu Hause entwickeln und die im Unterricht erworbenen Fähigkeiten festigen.
  </div>
</div>
