.content__text {
  font-family: 'Montserrat';
  font-size: 20px;
  line-height: 1.35;
}

.content__text strong {
  font-size: larger;
}

.content__text ul {
  list-style-type: disc;
  list-style-position: inside;
}
