<div [ngSwitch]="language">
  <div class="aims" *ngSwitchCase="'Ukrainian'">
    <div class="aims__text">Директор Американського інституту вивчення
      аутизму - ARI (Сан-Дієго, США) <em>Стівен М. Едельсон</em> підтвердив, що <strong>аутизм -
        ВИЛІКОВНИЙ!</strong><br>Ми наполегливо радимо батькам розібратися в фізіологічних
      проблемах дитини, здати необхідні аналізи й ОБОВ’ЯЗКОВО ПРОХОДИТИ МЕДИКАМЕНТОЗНЕ ЛІКУВАННЯ.
      <br>Це створить необхідні передумови для ефективного навчання. <br><br><br>

      <span class='aims__header'>Наша робота спрямована на розвиток інтелекту, мови, моторики і корекції поведінки дитини з такими проблемами:</span><br>
      <ul>
        <li>затримка мовного і психо-мовного розвитку;</li>
        <li>формування академічних навичок (навчання читання, письма, математики з раннього
          віку);</li>
        <li>труднощі в оволодінні навичками читання і письма (дислексія);</li>
        <li>розлад аутичного спектру;</li>
        <li>гіперактивність;</li>
        <li>поведінкові проблеми;</li>
        <li>порушення роботи артикуляції (алалія);</li>
        <li>труднощі в оволодінні комунікаційними навиками;</li>
        <li>порушення просторового сприйняття.</li>
      </ul>
      <br><br>
      <span class='aims__header'>Для досягнення бажаного результату ми використовуємо такі методики:</span>
      <ul>
        <li>інноваційні методики навчання читання, письма та математики</li>
        <li>АВА;</li>
        <li>Монтессорі;</li>
        <li>швидкочитання для дошкільнят;</li>
        <li>корекція поведінки;</li>
        <li>програма мозжечкової стимуляції;</li>
        <li>нейрокорекція;</li>
        <li>адаптивна сенсорна інтеграція;</li>
        <li>музична та арт-терапії;</li>
      </ul>
      <br><br>
      <span class='aims__header'>З вашими дітьми будуть працювати такі фахівці</span><br>
      <ul>
        <li>психолог</li>
        <li>логопед</li>
        <li>сурдолог</li>
        <li>дефектолог</li>
        <li>поведінковий аналітик</li>
        <li>педагог з розвитку</li>
        <li>вчителі початкових класів.</li>
      </ul>
      <br><br>
      <span class='aims__header'>Вікові обмеження:</span><br>
      <ul>
        <li>заняття від 1.5 року до 18 років;</li>
        <li>консультації з 1 року.</li>
      </ul>
    </div>
    <div class="aims__footer">Якщо у вас є проблема, ми допоможемо.</div>
  </div>

  <div class="aims" *ngSwitchCase="'Russian'">
    <div class="aims__text">Директор Американского института
      изучения аутизма – ARI (Сан-Диего, США) <em>Стивен М. Эдельсон</em> подтвердил, что <strong> аутизм –
        ИЗЛЕЧИМ!</strong><br>Мы настоятельно рекомендуем родителям разобраться в физиологических
      проблемах ребенка, сдать необходимые анализы и ОБЯЗАТЕЛЬНО ПРОХОДИТЬ МЕДИКАМЕНТОЗНОЕ ЛЕЧЕНИЕ.
      <br>Это создаст необходимые предпосылки для эффективного обучения. <br><br><br>

      <span class='aims__header'>Наша работа направлена на развитие интеллекта, речи, моторики и коррекции поведения ребенка с такими проблемами:</span><br>
      <ul>
        <li>задержка речевого и психоречевого развития;</li>
        <li>формирование академических навыков (обучение чтению, письму, математике с раннего
          возраста);</li>
        <li>трудности в овладении навыками чтения и письма (дислексия);</li>
        <li>расстройство аутического спектра;</li>
        <li>гиперактивность;</li>
        <li>поведенческие проблемы;</li>
        <li>нарушение работы артикуляции (алалия);</li>
        <li>трудности в овладении коммуникационными навыками;</li>
        <li>нарушение пространственного восприятия.</li>
      </ul>
      <br><br>
      <span class='aims__header'>Для достижения желаемого результата мы используем следующие методики:</span>
      <ul>
        <li>инновационные методики обучения чтению, письму и математике</li>
        <li>АВО;</li>
        <li>Монтессори;</li>
        <li>быстрочтение для дошкольников;</li>
        <li>коррекция поведения;</li>
        <li>программа мозжечковой стимуляции;</li>
        <li>нейрокоррекция;</li>
        <li>адаптивная сенсорная интеграция;</li>
        <li>музыкальная и арт-терапия;</li>
      </ul>
      <br><br>
      <span class='aims__header'>С вашими детьми будут работать следующие специалисты:</span><br>
      <ul>
        <li>психолог</li>
        <li>логопед</li>
        <li>сурдолог</li>
        <li>дефектолог</li>
        <li>поведенческий аналитик</li>
        <li>педагог по развитию</li>
        <li>учителя начальных классов</li>
      </ul>
      <br><br>
      <span class='aims__header'>Возрастные ограничения:</span><br>
      <ul>
        <li>занятия от 1.5 года до 18 лет;</li>
        <li>консультации с 1 года.</li>
      </ul>
    </div>
    <div class="aims__footer">Если у вас есть проблема, мы поможем.</div>
  </div>

  <div class="aims" *ngSwitchCase="'English'">
    <div class="aims__text">Director of the American Institute
      for the Study of Autism - ARI (San Diego, USA) <em>Stephen M. Edelson</em> confirmed that <strong>autism is
        CURED!</strong><br>We strongly recommend parents to understand the physiological
      problems of the child, pass the necessary tests and MANDATORY TO TAKE MEDICATION TREATMENT.
      <br>This will create the necessary prerequisites for effective learning. <br><br><br>

      <span class='aims__header'>Our work is aimed at developing intelligence, language, motor skills and correcting the behavior of a child with such problems:</span><br>
      <ul>
        <li>delayed speech and psycho-verbal development;</li>
        <li>the formation of academic skills (teaching reading, writing, mathematics from an early
          age);</li>
        <li>difficulties in mastering the skills of reading and writing (dyslexia);</li>
        <li>autism spectrum disorder;</li>
        <li>hyperactivity;</li>
        <li>behavioral problems;</li>
        <li>disruption of articulation (alalia);</li>
        <li>difficulties in mastering communication skills;</li>
        <li>violation of spatial perception.</li>
      </ul>
      <br><br>
      <span class='aims__header'>To achieve the desired result, we use the following methods:</span>
      <ul>
        <li>innovative methods of teaching reading, writing and mathematics</li>
        <li>AVO;</li>
        <li>Montessori;</li>
        <li>speed reading for preschoolers;</li>
        <li>behavior correction;</li>
        <li>cerebellar stimulation program;</li>
        <li>neurocorrection;</li>
        <li>adaptive sensory integration;</li>
        <li>music and art therapy;</li>
      </ul>
      <br><br>
      <span class='aims__header'>The following specialists will work with your children:</span><br>
      <ul>
        <li>psychologist</li>
        <li>speech therapist</li>
        <li>audiologist</li>
        <li>defectologist</li>
        <li>behavioral analyst</li>
        <li>development teacher</li>
        <li>primary school teachers</li>
      </ul>
      <br><br>
      <span class='aims__header'>Age restrictions:</span><br>
      <ul>
        <li>classes from 1.5 years to 18 years;</li>
        <li>consultations from 1 year.</li>
      </ul>
    </div>
    <div class="aims__footer">If you have a problem, we help.</div>
  </div>

  <div class="aims" *ngSwitchCase="'Deutsche'">
    <div class="aims__text">Der Direktor des American Institute
      for the Study of Autism – ARI (San Diego, USA) <em>Stephen M. Edelson</em> bestätigte, dass <strong>Autismus
        GEHEILT WERDEN KANN!</strong><br>Wir empfehlen den Eltern dringend, die physiologischen
      Probleme des Kindes zu verstehen, die notwendigen Tests zu bestehen und eine medikamentöse Behandlung ZWINGEND ZU NEHMEN.
      <br>Dadurch werden die notwendigen Voraussetzungen für effektives Lernen geschaffen. <br><br><br>

      <span class='aims__header'>Unsere Arbeit zielt darauf ab, Intelligenz, Sprache, motorische Fähigkeiten zu entwickeln und das Verhalten eines Kindes mit solchen Problemen zu korrigieren:</span><br>
      <ul>
        <li>verzögerte Sprach- und psychoverbale Entwicklung;</li>
        <li>die Bildung akademischer Fähigkeiten (Lernen von Lesen, Schreiben, Mathematik
          von klein auf);</li>
        <li>Schwierigkeiten beim Erlernen der Lese- und Schreibfähigkeiten (Legasthenie);</li>
        <li>Autismus-Spektrum-Störung;</li>
        <li>Hyperaktivität;</li>
        <li>Verhaltensprobleme;</li>
        <li>Störung der Artikulation (alalia);</li>
        <li>Schwierigkeiten bei der Beherrschung der Kommunikationsfähigkeiten;</li>
        <li>Verletzung der räumlichen Wahrnehmung.</li>
      </ul>
      <br><br>
      <span class='aims__header'>Um das gewünschte Ergebnis zu erzielen, wenden wir die folgenden Methoden an:</span>
      <ul>
        <li>innovative Methoden des Lese-, Schreib- und Mathematikunterrichts;</li>
        <li> AVO;</li>
        <li>Montessori;</li>
        <li>Schnelllesen für Kinder im Vorschulalter;</li>
        <li>Verhaltenskorrektur;</li>
        <li>Programm zur Kleinhirnstimulation;</li>
        <li>Neurokorrektur;</li>
        <li>adaptive sensorische Integration;</li>
        <li>Musik- und Kunsttherapie;</li>
      </ul>
      <br><br>
      <span class='aims__header'>Die folgenden Spezialisten werden mit Ihren Kindern arbeiten:</span><br>
      <ul>
        <li>Psychologe</li>
        <li>sprachtherapeut</li>
        <li>Audiologe</li>
        <li>Defektologe</li>
        <li>Verhaltensanalytiker</li>
        <li>Entwicklungslehrer</li>
        <li>Grundschullehrer</li>
      </ul>
      <br><br>
      <span class='aims__header'>Altersbeschränkungen:</span><br>
      <ul>
        <li>Klassen von 1,5 Jahren bis 18 Jahren;</li>
        <li>Beratungen ab 1 Jahr.</li>
      </ul>
    </div>
    <div class="aims__footer">Wenn Sie ein Problem haben, helfen wir Ihnen.</div>
  </div>

  <div class="aims" *ngSwitchCase="'Français'">
    <div class="aims__text">Le directeur de l'Institut
      américain pour l'étude de l'autisme - ARI (San Diego, États-Unis) <em>Stephen M. Edelson</em> a confirmé que<strong> l'autisme
        est GUÉRI!</strong><br> Nous recommandons fortement aux parents de comprendre les problèmes physiologiques
      de l'enfant, de passer les tests nécessaires et OBLIGATOIRES DE PRENDRE UN TRAITEMENT MÉDICAMENTAL.
      <br>Cela créera les conditions préalables nécessaires à un apprentissage efficace. <br><br><br>

      <span class='aims__header'>Notre travail vise à développer l'intelligence, le langage, la motricité et à corriger le comportement d'un enfant ayant de tels problèmes:</span><br>
      <ul>
        <li>retard de la parole et du développement psychoverbal;</li>
        <li>la formation des compétences académiques (enseignement de la lecture, de l'écriture, des mathématiques dès le plus
          jeune âge);</li>
        <li>difficultés à maîtriser les compétences de lecture et d'écriture (dyslexie);</li>
        <li>troubles du spectre autistique;</li>
        <li>hyperactivité;</li>
        <li>problèmes comportementaux;</li>
        <li>perturbation de l'articulation (alalia);</li>
        <li>difficultés à maîtriser les compétences de communication;</li>
        <li>violation de la perception spatiale.</li>
      </ul>
      <br><br>
      <span class='aims__header'>Pour atteindre le résultat souhaité, nous utilisons les méthodes suivantes:</span>
      <ul>
        <li>méthodes innovantes d'enseignement de la lecture, de l'écriture et des mathématiques;</li>
        <li>AVO;</li>
        <li>Montessori;</li>
        <li>lecture rapide pour les enfants d'âge préscolaire;</li>
        <li>correction du comportement;</li>
        <li>programme de stimulation cérébelleuse;</li>
        <li>neurocorrection;</li>
        <li>intégration sensorielle adaptative;</li>
        <li>musique et art-thérapie;</li>
      </ul>
      <br><br>
      <span class='aims__header'>Les spécialistes suivants travailleront avec vos enfants:</span><br>
      <ul>
        <li>psychologue</li>
        <li>orthophoniste</li>
        <li>audiologiste</li>
        <li>défectologue</li>
        <li>analyste comportemental</li>
        <li>professeur de développement</li>
        <li>enseignants du primaire</li>
      </ul>
      <br><br>
      <span class='aims__header'>Restrictions d'âge:</span><br>
      <ul>
        <li>classes de 1,5 ans à 18 ans;</li>
        <li>consultations à partir de 1 an.</li>
      </ul>
    </div>
    <div class="aims__footer">Si vous avez un problème, nous vous aiderons.</div>
  </div>
</div>
